.controls {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.control {
  margin-left: 10px;
  font-size: 16pt;
  color: grey;
  background: none;
  border: none;
}

.control:hover {
  color: #383838;
  background: none;
  border: none;
}

.control:active {
  color: #383838 !important;
  background: #fff !important;
}

.time {
  font-size: 12px;
  font-weight: bold;
  min-width: 50px;
}

.time-right {
  font-size: 12px;
  font-weight: bold;
  margin-left: 40px;
}
