.title {
  font-weight: bold;
}

.table > tbody > tr:hover {
  cursor: pointer;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.tableImg {
  width: 5%;
}

.tableTitle {
  width: 30%;
  max-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tableArtist {
  width: 20%;
  max-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tableAlbum {
  width: 25%;
  max-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tableDuration {
  max-width: 6%;
  text-align: center;
}

.tableQueue {
  width: 6%;
  text-align: center;
}

.tableLibrary {
  width: 6%;
  text-align: center;
}

.artwork {
  width: 40px;
  height: 40px;
}
